{% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="hero-text" data-aos="zoom-out">
      <h2>Bem vindo(a)!</h2>
      <p>Texto de boas vindas!</p>
      <a href="#about" class="btn-get-started scrollto">Botão pra algum local</a>
    </div>

    <div class="product-screens">

      <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
        <img src="{% static 'img/product-screen-1.png' %}" alt="">
      </div>

      <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static 'img/product-screen-2.png' %}" alt="">
      </div>

      <div class="product-screen-3" data-aos="fade-up">
        <img src="{% static 'img/product-screen-3.png' %}" alt="">
      </div>

    </div>

  </section><!-- End Hero Section -->